.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 2rem;
    border: 10px;
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    border: 5px solid white;
    background: rgb(110, 109, 109);
    transition: all 0.5s;
}
.card link{
    text-decoration: none;
}
.card h1{
    color: black;
}
.card h3{
    color: black;
}
.card img{
    justify-items: center;
    width: 20rem;
}
.card:hover{
    transform: scale(0.95);
    box-shadow: 0.5rem 0.5rem 0.8rem black;
}
