.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 2rem;
    border: 10px;
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    border: 5px solid white;
    background: rgb(156, 156, 156);
}

.card:hover{
    box-shadow: 1rem 0.1rem 5rem rgba(0, 0, 0, 0.19), 0 50px 50px rgba(0,0,0,0.23);
}