.creator{
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
}
.creator h1{
    text-shadow: 0.15rem 0.1rem white;
}
.creator span{
    color: red;
    text-shadow: 0.08rem 0.08rem black;
}

.creator label{
    font-size: 1.2rem;
    margin: 0.5rem;
}
.creator input{
    margin-top: 0.5rem;
}
.creator select{
    margin-top: 0.5rem;
}

.selected-countries h4{
font-size: 1rem;
}

.create{
    padding: 1rem;
}

.error{
    color: red;
    text-shadow: 0.08rem 0.08rem black;
}