.landing{
    display: flex;
    flex-direction: column;
    background-image: url("https://media.traveler.es/photos/61376c12d4923f67e298ebaf/master/w_1600,c_limit/146704.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.1em
}


.landing h1{
    font-size: 5rem;
}

.link{
    text-decoration: none;
    
    border-radius: 0.5rem;
    
    /* box-shadow: -0.5rem -0.5rem 1rem black; */
    transition: all 0.5s;
}
.link h4 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 0 0 1rem black;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin: 1rem;
  }
  
  .link:hover {
    transform: scale(0.95);
    background-color: grey;
  }