.navbar{
    display: flex;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
    align-items: center;
    background: linear-gradient(to left, #000000, #434343);
}
.first{
    margin: 5px;
}
.first span{
    position: relative;
    bottom: 3px;
    margin: 4px;
}

.logo{
    align-content: center;
    height: 20px
}

.buttons{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.buttons:hover{
    text-shadow: black 0.1em 0.1em 0.1em;
}

.div:hover{
    transition: all 0.5s;
    border: black solid 3px;
}