.cont{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
}
.cont h1{
    font-size: 8rem;
    border-bottom: rgb(129, 129, 129) solid 1rem;
}
.detail{
    display: flex;
    border: grey solid 1rem;
    margin: 0.5rem;
    justify-content:space-around;
    font-size: 1.5rem;
}

.image{
    margin: 1rem;
    padding: 0.5rem;
}

.image img{
    height: 20rem;
    width: auto;
}

.activity{
display : flex;
justify-content: center;
}

.act-cont{
    border: grey solid 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}